<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<listeners>
		<listener
			class-name="Boohoo.BHM.TestComponents.Listeners"></listener>
	</listeners>
	<test thread-count="5"
		name="Registred User without saved cads and addresses">
		<classes>
			<class name="Boohoo.BHM.tests.RegistredOrderPlByCardTest" />
		</classes>
	</test>
	<test name="Registred user with saved cards and addresses">
		<classes>
			<class name="Boohoo.BHM.tests.RegistredBySavedCCSavedAddrTest" />
		</classes>
	</test>
	<test name="Guest user by Credit card">
		<classes>
			<class name="Boohoo.BHM.tests.GuestOrderPlacementByCardTest" />
		</classes>
	</test>
	<test name="Save and remove CC in MA/Wallet">
		<classes>
			<class name="Boohoo.BHM.tests.RegistredMaSaveCardTest" />
		</classes>
	</test>
	<!--Test -->
</suite> <!--
Suite -->
